*{
	margin:0;
	padding:0;
}

#nav-bar
{
	background-color: black;
	position: sticky;
	top:0;
	z-index:10;
	float: right;
}
.navbar
{
	padding: 0 !important;
}

.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
color: white !important;
font-weight: bolder;
float:right;
text-align:left;
}

.navbar-brand{
    font-size: 1.5rem;
    color: yellow !important;
    
}

.nav-link{
    float: right;
    color: #5f6368!important;
    
}

.nav-link:hover{
    background: linear-gradient(purple, peru);
}
/* navbar css ends here  */
#main
{
	text-align: center;
    background-image: url(img/bank6.jpeg);
}

.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: navy !important;
    color: white!important;
    margin-left: 5px;
    padding: 0.75rem;
    border-radius: 5px;
    transition: all 0.3s;
}

.btn-info:hover{
    background: linear-gradient(yellow, green) !important;
}